.App {
  font-family: 'Nunito', sans-serif;
}

 .login {
  margin-top: 70px;
} 

.loginheading {
  font-weight: 600;
  color: black;
}

.bg-image{
  width: 300px;
  margin-top: 10px;
  margin-left: 200px;
}

.bg-image-b{
  width: 350px;
  height: 600px;
  margin-left: 200px;
} 

.addproduct{
  background-image: url('./Components/Assets/addproduct.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 50px;
}


.card-img-top{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-text{
  font-size: 0.9rem;
  font-weight: 100;
  color: black;
}

.broweseprod{
  font-size: 25px;
}

.price{
  font-size: 1.2rem;
  font-weight: 500;
}

.profilebtn{
  margin-top: 10px;
  margin-left: 0px;
  width: 200px;
}

.profiletitle2{
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: flex-end;
}

.link{
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.link2{
  margin-left: 15px;
  margin-top: 3px;
  margin-right: 15px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.link:hover{
  color: #00ca1e;
}

.link2:hover{
  color: #00ca1e;
}

.right-aligned{
  justify-content: flex-end;
}

.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}


.landing-text{
  color: black;
  text-decoration: wavy;
  margin-top: 250px;
}

.landimg{
  margin-left: 200px;
  margin-top: 60px;
  width: 600px;  
}

.errorpage{
  margin-top: 200px;
  text-align: center;
}

.error-text{
  font-size: 100px;
  font-weight: 500;
}
